<!-- <header>
  <h1 routerLink="/">Angular D3</h1>
  <div>
    <p><a routerLink="bar-simple">Simple Bar Graph</a></p>
    <p><a routerLink="bar">Sorting Bar Graph</a></p>
    <p><a routerLink="stacked">Stacked Graph</a></p>
    <p><a routerLink="world-map">World Map</a></p>
    <p><a routerLink="globe">Globe (Rotational? Maybe)</a></p>
  </div>
</header> -->
<nav class="navbar">
  <h1 class="navbar-brand" routerLink="/">Angular D3</h1>
  <div class="navbar-links">
    <a routerLink="bar-simple">Simple Bar Graph</a>
    <a routerLink="bar">Sorting Bar Graph</a>
    <a routerLink="stacked">Stacked Graph</a>
    <a routerLink="world-map">World Map</a>
    <a routerLink="globe">Globe</a>
  </div>
</nav>
<router-outlet></router-outlet>
